/* .Box {
    display:block;
    width: 300px;
    border: 2px solid;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
} */

form {
    width: 300px;
    text-align: left;
    display:block;
    border: 2px solid;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;

}

form > input, form > button {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
} 
